In [ ]:
LIST DATA TYPE

In [2]:
children= ["aham","ayan","rayyan","sara","ibrahim","shiza","arhan"]

In [3]:
print (children)

['aham', 'ayan', 'rayyan', 'sara', 'ibrahim', 'shiza', 'arhan']

In [4]:
print (children[2])

rayyan

In [ ]:
TO ADD AN ELEMENT IN GIVEN LIST(EXAMPLE ADD SHIFA IN ABOVE LIST)

In [ ]:
children.append(shifa)

In [5]:
print (children)

['aham', 'ayan', 'rayyan', 'sara', 'ibrahim', 'shiza', 'arhan']

In [ ]:
children.append("shifa")

In [6]:
print(children)

['aham', 'ayan', 'rayyan', 'sara', 'ibrahim', 'shiza', 'arhan']

In [7]:
children.append("shifa")
print(children)

['aham', 'ayan', 'rayyan', 'sara', 'ibrahim', 'shiza', 'arhan', 'shifa']

In [ ]:
INSERT AN ELEMENT AT PARTICULAR PLACE

In [8]:
children.insert(1,"shifa")
print(children)

['aham', 'shifa', 'ayan', 'rayyan', 'sara', 'ibrahim', 'shiza', 'arhan', 'shifa']

In [ ]:
REPLACING AN ELEMENT FROM OTHER( FOR EXAMPLE SHIFA IS REPLACED BY AYAT)

In [9]:
children[1]= "ayat"
print(children)

['aham', 'ayat', 'ayan', 'rayyan', 'sara', 'ibrahim', 'shiza', 'arhan', 'shifa']

In [10]:
children[1]= "ayat"
print(children.title())

AttributeError: 'list' object has no attribute 'title'

In [ ]:
DELETING AN ELEMENT FROM LIST

In [11]:
del children[1]
print (children)

['aham', 'ayan', 'rayyan', 'sara', 'ibrahim', 'shiza', 'arhan', 'shifa']